node_modules/
dist/
.vs/
app/data
app/npm-debug.log
IngestDB/obj
IngestDB/packages
*.cache
bin/
IngestDB/bin/
IngestDB/obj/
IngestDB/IngestDB/bin/
IngestDB/IngestDB/obj/
IngestDBCore/obj/
IngestDBCore/bin/
IngestDBInterface/obj/
IngestDBInterface/bin/
MSVNotifyPlugin/obj/
MSVNotifyPlugin/bin/
OrleansNotifyPlugin/obj/
OrleansNotifyPlugin/bin/

IngestCustomerInterfacePlugin/obj/
IngestCustomerInterfacePlugin/bin/

IngestCustomerPlugin/obj/
IngestCustomerPlugin/bin/

IngestDeviceInterfacePlugin/obj/
IngestDeviceInterfacePlugin/bin/

IngestDevicePlugin/obj/
IngestDevicePlugin/bin/

IngestTaskInterfacePlugin/obj/
IngestTaskInterfacePlugin/bin/

IngestTaskPlugin/obj/
IngestTaskPlugin/bin/

IngestTaskInterfacePlugin/obj/
IngestTaskInterfacePlugin/bin/

IngestGlobalInterfacePlugin/obj/
IngestGlobalPlugin/bin/

IngestGlobalPlugin/obj/
IngestGlobalInterfacePlugin/bin/